html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

button {
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

*,
h1,
h2,
h3,
h4,
ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cormorant', serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	color: #151618;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
