.history {
	&__title {
		text-align: center;
		font-family: 'Cormorant', serif;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__inner {
		margin: 0 auto;
		max-width: 1142px;
		padding: 60px 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 40px;
	}

	&__box {
		max-width: 542px;
		display: flex;
		justify-content: space-between;
	}
	&__box1 {
		max-width: 542px;
		display: flex;
		justify-content: space-between;
	}

	&__box_inner {
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__box_title {
		font-family: 'Cormorant', serif;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	&__box_text {
		font-size: 13px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__box_link {
		font-size: 13px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
	}

	&__btn {
		// position: absolute;
		// top: 569px;
		// bottom: 0;
		// left: 686px;
		margin: 0 auto;
		display: block;
		width: 149px;
		height: 51px;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		border: 1px solid #151618;
		transition: all 0.5s ease;
	}
	&__btn:hover {
		background-color: #151618;
		color: #fff;
		transition: all 0.5s ease;
	}

	&__box_link::after {
		content: '';
		width: 23px;
		height: 10px;
		background: url('/images/arrow.svg') center no-repeat;
		display: inline-block;
	}

	&__box_link:hover {
		text-decoration: underline 1px #151618;
	}
}

//responsive

@media (max-width: 1000px) {
	.history {
		padding-bottom: 118px;
		&__inner {
			max-width: 940px;
			gap: 0;
			// padding: 60px 10px;
			row-gap: 67px;
		}
		&__box {
			max-width: 460px;
		}
		&__box1 {
			max-width: 460px;
		}

		&__box_photo {
			width: 230px;
			height: 153px;
		}
	}
}
@media (max-width: 768px) {
	.history {
		padding-bottom: 121px;
		&__inner {
			padding: 60px 44px;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 30px;
		}

		&__box {
			max-width: 542px;
			margin-left: 98px;
		}

		&__box_photo {
			width: 270px;
			height: 180px;
		}
	}
}
@media (max-width: 480px) {
	.history {
		padding: 0 0 60px;
		&__inner {
			padding: 60px 0;
			align-items: center;
		}

		&__box {
			max-width: 460px;
			margin-left: 0;
		}

		&__box_photo {
			width: 230px;
			height: 153px;
		}
	}
}
@media (max-width: 360px) {
	.history {
		padding: 0 0 43px;
		&__title {
			font-size: 24px;
		}

		&__inner {
			padding: 25px 35px 30px;
		}

		&__box {
			flex-direction: column;
		}
		&__box1 {
			flex-direction: column;
		}

		&__box_hidden {
			display: none;
		}

		&__box_photo {
			width: 270px;
			height: 180px;
		}

		&__box_inner {
			padding: 0;
			margin-top: 10px;
		}

		&__box_link {
			margin-top: 16px;
		}
	}
}
